
.movie-scroll {
 
    background-color: rgba(0, 0, 0, 0.233);
    width:100%;
    -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);   
     
}
.movie-scroll ::-webkit-scrollbar{
    background-color: rgb(7, 7, 7);
    height:10px;
   display: none;
   
}
.movie-scroll ::-webkit-scrollbar-thumb{
  background-color: rgb(41, 40, 48);
  border-radius: 10px;
}


.genre-scroll ::-webkit-scrollbar{
  background-color: rgb(0, 0, 0);
  height:10px;
  display: none;
 
}
.genre-scroll ::-webkit-scrollbar-thumb{
background-color: rgb(41, 40, 48);
border-radius: 10px;
}
.scroll-menu{
  color:white;
}